/******* GOOGLE FONTS *******/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');

/**** VARIABLES ****/
:root {
    /******** BACKGROUND COLOR ********/
    --background: #edf2f8;

    /******** CARD COLORS ********/
    --card1: #733fc8;
    --card2: #49556b;
    --card3: #ffffff ;
    --card4: #18202d;
    --card5: #f6f6f6;

    /******** TEXT COLORS *********/
    --text: #ffffff;
    --text-alt: #373a3f;

    /****** SHADOW ******/
    --shadow: 0 2rem 2rem 0 rgba(0, 0, 0, .2);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

/****** OVERIDE DEFAULT STYLES *******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 14px;
}

body {
    background: var(--background);
}

/* CONTAINER STYLES */
.container {
    width: 1200px;
    margin: 9rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "card-1 card-1 card-2 card-3" "card-4 card-5 card-5 card-3";
    gap: 1rem;
}

/******* CARD STYLES ********/
.card-1, .card-2, .card-3, .card-4, .card-5 {
    padding: 2rem;
    border-radius: 7px;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.card {
    transition: .4s all ease;
}

.card:hover {
    opacity: .7;
    transform: translateY(-6px);
}

.card-1 {
    background: var(--card1);
    color: var(--text);
    grid-area: card-1;
    position: relative;
}

.card-1-info {
    position: absolute;
    color: var(--text);
}

.card-1-info-small {
    margin-top: 5.2rem;
    color: var(--text);
}

/****** QUOTE ICON STYLING ******/
.quotation {
    text-align: right;
}

.quotes {
    margin-bottom: -2rem;
    margin-top: -6rem;
}

.card-2 {
    background: var(--card2);
    color: var(--text);
    grid-area: card-2;
}

.card-3 {
    background: var(--card3);
    color: var(--card4);
    grid-area: card-3;
}

.card-4 {
    background: var(--card5);
    grid-area: card-4;
}

.card-5 {
    background: var(--card4);
    color: var(--text);
    grid-area: card-5;
}

/******** PROFILE STYLES ********/
.profile {
    display: flex;
    align-items: center;
}

.profile-1-img, .profile-2-img, .profile-3-img, .profile-4-img, .profile-5-img {
    width: 40px;
    height: 40px;
    border-radius: 99px;
}

.profile-1-img {
    border: 2px solid #a775f1;
}

.profile-2-img {
    border: 2px solid #62666b;
}

.profile-3-img {
    border: 2px solid #a775f1;
}

.profile-4-img {
    border: 2px solid #e6e6e6;
}

.profile-5-img {
    border: 2px solid #5e6b85;
}

.profile-name {
    font-size: .8rem;
}

.profile-details {
    margin-left: 1rem;
}

/***** INFO SECTION STYLES *****/

.info {
    margin: .5rem;
    
}

.info-small {
    line-height: 20px;
    opacity: .7;
}

.info-bold {
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.info-small {
    font-size: .9rem;
}

.credentials {
    font-size: .7rem;
}